In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
data=pd.read_csv("Sample1000.csv")
data

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9788189999599,TALES OF SHIVA,Mark,mark,0
1,9780099578079,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9780198082897,MY KUMAN,Mark,Mark,0
3,9780007880331,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9780545060455,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0
...,...,...,...,...,...
994,9788192778792,CURRENT AFFAIRS 49 PRACTICE SETS,Mark,DEEPAK SERIES FOR TEST PREPARATION,0
995,9781862305274,BOY IN THE STRIPED PYJAMAS THE,Boyne John,Definitions,0
996,9781730155116,SHRI KRISHMark LEELA,Mark,DEREAMLAND,0
997,9789350891896,MENTAL MATHEMATICS,Mark,DEREAMLAND,0
998,9789383182008,MATHEMATICS CLASS 10th,R.D. SHARMA,DHANPAT RAI &CO,5

In [3]:
data.head()

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9788189999599,TALES OF SHIVA,Mark,mark,0
1,9780099578079,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9780198082897,MY KUMAN,Mark,Mark,0
3,9780007880331,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9780545060455,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0

In [4]:
data.tail()

,Serial Number,Company Name,Employee Markme,Description,Leave
994,9788192778792,CURRENT AFFAIRS 49 PRACTICE SETS,Mark,DEEPAK SERIES FOR TEST PREPARATION,0
995,9781862305274,BOY IN THE STRIPED PYJAMAS THE,Boyne John,Definitions,0
996,9781730155116,SHRI KRISHMark LEELA,Mark,DEREAMLAND,0
997,9789350891896,MENTAL MATHEMATICS,Mark,DEREAMLAND,0
998,9789383182008,MATHEMATICS CLASS 10th,R.D. SHARMA,DHANPAT RAI &CO,5

In [5]:
data.columns

Index(['Serial Number', 'Company Name', 'Employee Markme', 'Description',
       'Leave'],
      dtype='object')

In [6]:
data.dtypes

Serial Number       int64
Company Name       object
Employee Markme    object
Description        object
Leave               int64
dtype: object

In [7]:
data.shape

(999, 5)

In [0]:
x=data.drop("Outcome",axis=1)
y=data["Outcome"]

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [0]:
from sklearn.naive_bayes import GaussianNB
model= GaussianNB()

In [0]:
model.fit(x_train,y_train)

In [0]:
y_prediction=model.predict(x_test)
y_prediction

In [0]:
prediction=model.predict([[1,93,70,31,0,30.4,0.315,23]])
print("predicted value :", str(prediction))

In [0]:
prediction=model.predict([[8,183,64,0,0,23.3,0.672,32]])
print("predicted value :", str(prediction))

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_prediction)
cm

In [0]:
from sklearn import metrics
print("accuracy",metrics.accuracy_score(y_test,y_prediction))

In [0]:
test_prediction=model.predict(x_test)
metrics.accuracy_score(test_prediction,y_prediction)

In [0]:
print(metrics.classification_report(y_test,test_prediction))